*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    background-color: #01579b;
    background-size: cover;
    /*padding:0;
    margin: 0;*/
    height: 100vh;
}
#pagina{
    display: none
}

.boton{
    background-color:#03a9f4 ;
    color: white;
    border: 1px solid #29b6f6;
    border-radius: 6px;
    text-decoration: none;
    padding: 6px 8px;
    transition: .2s;
   
}

.boton:hover{
    border: 1px solid white;
    background-color: #0288d1;
    color: white;
}

.fondo_login{
    background-color: #01579b;
    color: white;
    min-height: 100vh;
    padding-top: 50px;
    
}
.login{
    display: block;
    color: white;
    margin: auto;
    border: 1px solid #039be5;
    padding: 20px;
    border-radius: 6px;
    background-color: #0277bd;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:blue;
    text-decoration: underline;
}

.imagen, .titulo{
    text-align: center;
    color: white;
}
img{
    width: 150px;
}

.titulo{
    margin-bottom: 12px;
    font-weight: bold;
}
.box-eye{
    position: relative;
}
.box-eye button{
    border: none;
    position: absolute;
}

.changepassword{
    position: absolute;
    top: 12px;
    left: 270px;
    color: pointer;
}
.error{
    color: red;
}


.radio{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    background-color: #03a9f4;
    border-radius: 6px;
    height: 50px;
}
#empresa{
    display: none;
}
   
.hide--accessibility {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: #000;
}


/*
.tooltip{
    font-weight:normal;
}
*/

.tooltip:hover{
    text-decoration: underline;
    position: relative;
}

.tooltip-box{
    position: absolute;
    background: #000;
    line-height: 20px;
    z-index:500;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    left: 0;


}
