*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.star{
    font-size: 24px;
    color: #bbb;
    transition: color 0.3s;
    cursor: pointer;
}

.rating{
    display: flex;
    justify-content: space-between;
}

.star:hover,
.star.checked
{
    color: gold;

}